services:
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
      - INFLUXDB_USER=admin
      - INFLUXDB_USER_PASSWORD=admin123
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin123
    volumes:
      - influxdb-data:/var/lib/influxdb
    networks:
      - k6-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - influxdb
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    networks:
      - k6-net

  k6:
    image: grafana/k6:latest
    container_name: k6
    depends_on:
      - influxdb
    volumes:
      - ./k6-scripts:/scripts
    networks:
      - k6-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: ["/bin/sh", "-c"]
    command: ["tail -f /dev/null"]

volumes:
  influxdb-data:

networks:
  k6-net:
    driver: bridge
